html {
    background-color: papayawhip;
    
}
* {
    font-family: "JetBrains Mono", "Trebuchet MS", sans-serif;
}
a:visited { 
    text-decoration: none; 
}
::selection {
    background-color: lightblue;
}
@counter-style emoji-list {
    system: fixed;
    symbols: 🐿️ 👨‍💻 📍 🌎;
    suffix: " ";
  }